<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>재고관리</title>
  </head>
  <body>
    <h1>재고관리</h1>
    <table border="1">
      <tr>
        <th>회사명</th>
        <th>상품명</th>
        <th>원가</th>
        <th>가격</th>
        <th>갯수</th>
        <th>상품분류</th>
      </tr>
      <% data.forEach(function (item, index) { %>
      <tr>
        <td><%= item.company %></td>
        <td><%= item.product_name %></td>
        <td><%= item.원가 %></td>
        <td><%= item.price %></td>
        <td><%= item.갯수 %></td>
      </tr>
      <% }); %>
    </table>
  </body>
</html>
